/* Sidebar container */
.sidebar {
    height: 100%;
    background-color: #f7f7f7;
    color: black;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 320px;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    border-right: 1px solid #ccc;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 12px 12px 0;
}

/* When sidebar is collapsed */
.collapsed {
    width: 64px;
}

/* For smaller screens, position the sidebar absolutely */
@media (max-width: 768px) {
    .sidebar {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 10;
    }

    .collapsed {
        width: 64px;
    }

    .sidebar:not(.collapsed) {
        width: 320px;
    }
}
