name: CI/CD

on:
    push:
        branches:
            - develop
env:
    VITE_GOOGLE_GEMINI_API_KEY: ${{ vars.VITE_GOOGLE_GEMINI_API_KEY }}

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Install Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 14.x

            - name: Install NPM packages
              run: npm i --legacy-peer-deps

            - name: Print VITE_GOOGLE_GEMINI_API_KEY
              run: echo "VITE_GOOGLE_GEMINI_API_KEY is ${{ vars.VITE_GOOGLE_GEMINI_API_KEY }} & ${{ env.VITE_GOOGLE_GEMINI_API_KEY }}!"

            - name: Build project
              run: CI=false npm run build
              env:
                  VITE_GOOGLE_GEMINI_API_KEY: ${{ vars.VITE_GOOGLE_GEMINI_API_KEY }}

            # - name: Run tests
            #   run: npm run test

            - name: Upload production-ready build files
              uses: actions/upload-artifact@v4
              with:
                  name: production-files
                  path: ./dist

    deploy:
        name: Deploy
        needs: build
        runs-on: ubuntu-latest

        steps:
            - name: Download artifact
              uses: actions/download-artifact@v4
              with:
                  name: production-files
                  path: ./dist

            - name: Deploy to gh-pages
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./dist
